* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFDD
}

header, main, footer {
    min-width: 855px;
	overflow: auto;
    max-width: 855px;
    margin: auto;
}

.left-column, .comment-input {
    float: left;
    width: 285px;
}

.right-column, .comments {
    float: right;
    width: 500px;
}

header p {
	font-style: italic;
}
