body {
    background: #f9e933;
    font-family: 'Droid Sans', sans-serif;
}

header, main, footer {
    min-width: 855px;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
}

h1 {
    font-size: 225%;
}

h2 {
    font-size: 200%;
}

h3, h4, h5 {
    font-size: 125%;
}

header .container, main .container, footer  .container {
    /*min-width: 855px;*/
    max-width: 855px;
    margin: auto;
}

header {
    background: white;
    overflow: auto;
}
header h1 {
    float: left;
    width: 570px;
}

header nav {
    float: right;
    width: 285px;
}

main {
    background: white;
    overflow: auto;
}

main .content {
    float: left;
    width: 570px;
}

main img {
    float: right;
    width: 285px;
}

footer {
    overflow: auto;
}

footer .contact {
    float: left;
    width: 570px;
}

footer .sitemap {
    float: right;
    width: 285px;
    /*overflow: auto;*/
}

footer .sitemapleft {
    float: left;
}

footer .sitemapright {
    float: right;
}


/* begin debug layouts wth border */
/*body, header, nav, img, h1, main, footer, h5, h2, h3 ul, .sitemap, .contact , .container {
    border: 3px dashed red;
    border-radius: 10px;
    /*margin: 3px; 
    padding: 3px; 
}*/