* {
    margin: 0;
    padding: 0;
	font-family: sans-serif;
}

body {
    background: #FFFFDD
}

header, main, footer {
    min-width: 855px;
	overflow: auto;
    max-width: 855px;
    margin: auto;
}

.left-column, .comment-input {
    float: left;
    width: 285px;
}

.right-column, .comments {
    float: right;
    width: 500px;
}

header p {
	font-style: italic;
}

.comments p  {
	margin-bottom: 10px;
	padding: 3px;
	border-radius: 5px;
}

.comments p:nth-child(even) {
	background: lavender;
}

.comments p:nth-child(odd) {
	background: gainsboro;
}

.spacer {
	padding-top: 25px;
	padding-bottom: 25px;
	overflow: auto;
}


footer {
	font-size: small;
}
